.topnav {
    overflow: hidden;
    background-color: grey;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Linden Hill"';
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: grey;
    color: #f2f2f2;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon 
   {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } {width: 80%}
  
@media (max-width: 640px) {
.container {
position: relative;
bottom: 0;
}
}

.navbar-brand {
    color: #DCDCDC;

}
header { 

    background: url(https://i.pinimg.com/originals/05/ce/86/05ce86e44a294810a87beededaee4653.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 600px;
    margin: 0;
    font-family: 'Great Vibes';
    

  }

  @media screen and (max-width: 1024px) { /* Le traitement est ici spécifique à l'image */
    header
    {
    left: 50%;
    margin-left: -512px; /* 50% */
    }
   }
  

h1 {

    font-size: 116px;
    color: #DCDCDC;

        text-align: center;
        
        padding-top: 200px;
        padding-bottom: 50px;
        padding-right: 50px;
        padding-left: 50px;
}




    

.container-fluid {
padding: 28px;
text-align: center;
font-family:  'Great Vibes';
font-size: 32px;
margin: 0px;

 }


#bloc-1 {
    
   margin-bottom: 28px;
   margin-top: 28px;
   background-color: #e0e0e0;
   font-family: 'Great Vibes';
   font-size: 44px;
   margin: 0px;
}

h2 {


    text-align: left;
    font-size: 22px;
    font-family: 'Lindel Hill'

}

h3 {
    margin-bottom: 28px;
    margin-top: 28px;
    padding: 28px;
    background-color: grey;
    font-family: 'Great Vibes';
    font-size: 44px;
    margin: 0px;
    text-align: left;

}


#boutons-wiki {

    font-size: 32px;
    margin: 12px;
    margin-bottom: 22px;
    padding: 22px;
    padding-bottom: 22px;
    font-display: 12px;
    

}

#texte-presentation-madnen {

    text-align: center;
}

.block {
    display: block, center;
    width: 700px;
    border: none;
    
    cursor: pointer;
    text-align: center;

    font-size: 32px;
    margin: 12px;
    margin-bottom: 22px;
    padding: 22px;
    padding-bottom: 22px;
    font-display: 12px;
  }

#bloc-contacts {

    margin-bottom: 28px;
    margin-top: 28px;
    padding-bottom: 28px;
    margin: 0px;
   

    background-color: grey;
    font-size: 22px;
    font-family: 'Lindel Hill';
}



#concepteurs {

  text-align: center;
}